/* @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('./fonts/PTSans-Regular.ttf');
} */


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');


html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem serán 10px, es por mejorar la accesibilidad*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/

.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}


h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
    line-height: 1.2;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
    display: block;
}

/* Utilidades */

.no-margin{
    margin: 0;
}

.text-center{
    text-align: center;
}

/* ESTILOS CABECERA */

.header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    height: 60rem;
    background-position: center center;
    background-size: cover;
}

.header a{
    color: white;
    text-decoration: none;
}

.header h1{
    color: white;
    font-weight: 400;
    /* text-align: center; */ /* Centrado con la clase*/
}

.header h1 span{
    color: white;
    font-weight: 700;
}

/*NAVEGACION*/

.navigation a{
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

/*TAGLINE*/

.tagline{
    color: white;
    margin-top: 5rem;
}


/*FOOTER*/

.footer{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer h3{
    color: white;
    font-weight: 400;
}

.footer h3 span{
    color: white;
    font-weight: 700;
}

.footer .under-bar{
    margin-top: 2rem;
}

.icons{
display: flex;
flex-direction: row;
}

.icon-facebook{
    margin-right: 1rem;
}
.icon-twitter{
    margin-right: 1rem;
}
.icon-youtube{
    margin-right: 1rem;
}
.icon-instagram{
    margin-right: 1rem;
}

.footer .navigation a{
    font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation a{
        display: inline;
        margin-right: 2rem;
    }

    .navigation a:last-of-type{
        margin: 0;
    }

    .tagline{
        margin-top: 15rem;
    }

    .tagline p{
        font-size: 2.2rem;
    }

    .under-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}